.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.cardTitle{
  color: grey;
}

.area{
 
  color: rgb(79, 147, 168);
}

.ex1 {
  background-color: rgb(226, 248, 255);
  width: auto;
  height: 300px;
  overflow-y: scroll;
}
